In [1]:
#operators {/, *, -, +}
print(2+3)

5

In [2]:
a=3
b=3
c=a+b
print(c)

6

In [3]:
num1=100
num2=12.3
sum = num1 +num2
print(sum)

112.3

In [4]:
num1=100
num2=12.3
mul = num1 * num2
print(mul)

1230.0

In [5]:
num1=100
num2=12.3
mul = num1 - num2
print(mul)

87.7

In [11]:
num1=100
num2=15
div = num1 / num2 #python by default floating point divsion
print(div)

6.666666666666667

In [10]:
num1=100
num2=15
div = num1 // num2 #int division
print(div)

6

In [25]:
#in string + is not addition but it is concatenation
a = "23"
b =  '23'

In [26]:
print(a+b)

TypeError: 'str' object is not callable