# For Loop

In [3]:
for a in range(5):
    print(a,"Mudassir")

0 Mudassir
1 Mudassir
2 Mudassir
3 Mudassir
4 Mudassir

In [2]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [3]:
for number in range(1,10,3): #by different 3
    print(number)

1
4
7

In [6]:
for number in range(10,1,-2): #by revese
    print(number)

10
8
6
4
2

In [7]:
#index    -5         -4       -3       -2        -1         -0
fruits=['banana', 'orange', 'apple', 'cherry', 'apple', 'bluebrry']
#index    0          1        2        3          4         5

In [12]:
for fruit in fruits:
    print("The Fruits are aviable",fruit)

The Fruits are aviable banana
The Fruits are aviable orange
The Fruits are aviable apple
The Fruits are aviable cherry
The Fruits are aviable apple
The Fruits are aviable bluebrry

In [13]:
for fruit in fruits:
    print(f"The {fruit} are aviable")

The banana are aviable
The orange are aviable
The apple are aviable
The cherry are aviable
The apple are aviable
The bluebrry are aviable

In [14]:
for num in [1,2,3,4,5,6,7,8,9]:
    print(num)

1
2
3
4
5
6
7
8
9

In [16]:
country = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [17]:
country = "Pakistan","india"

for char in country:
    print(char)

Pakistan
india

# for loop`s break and continue

In [25]:
for number in [5,7,9,6,8,4,5,65]:
    if number%2==0:
        break
    print(number)

5
7
9

In [1]:
for num in range(10):
    if num==6 or num==8 :
        continue
    print(num)

0
1
2
3
4
5
7
9

In [5]:
#Output No.1:
for i in range(1,11):
    if (i%2==0):
        print("\tSaylani Mass IT Training")
    else:
        print("Saylani Mass IT Training")

Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training
	Saylani Mass IT Training

In [6]:
#Output No.2:
for i in range(1,9):
    print("Saylani Mass IT Training\tSaylani Mass IT Training")

Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training
Saylani Mass IT Training	Saylani Mass IT Training

In [7]:
#Output No.4:
for i in range(0,7):
    if (i==0)or(i==6):
        print("Saylani Mass IT Training")
    elif (i==1)or(i==5):
        print("\tSaylani Mass IT Training")
    elif (i==2)or(i==4):
        print("\t\tSaylani Mass IT Training")
    else:
        print("\t\t\tSaylani Mass IT Training")

Saylani Mass IT Training
	Saylani Mass IT Training
		Saylani Mass IT Training
			Saylani Mass IT Training
		Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training

In [1]:
#question No.2:
x=int(input("Enter the Number of which you want to print table"))
for i in range(1,11):
    print (x,("*"),i,("="),x*i)

Enter the Number of which you want to print table9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

# Nested for Loop

In [2]:
for a in range(3):
    print("inner looop begins")
    for char in "china":
        print(a,char)

inner looop begins
0 c
0 h
0 i
0 n
0 a
inner looop begins
1 c
1 h
1 i
1 n
1 a
inner looop begins
2 c
2 h
2 i
2 n
2 a

In [4]:
tables = int(input("Enter table = "))
for table in range(2,tables-1):
    for num in range(1,11):
        print(f"{table}*{num}={table*num}")

Enter table = 5
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30